<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <header class="header">
    </header>
    <div class="main">
        <nav class="nav">
            <img src="assets/img/logo.png" class="logo" alt="">
            <ul>
                <li class="nav__item"><a href="index.html" class="nav__link">Главная</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Обо мне</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Портрет</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Love story</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Интерьер</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Content</a></li>
                <li class="nav__item"><a href="#" class="nav__link">LifeStyle</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
            </ul>
        </nav>
        <div class="content">
            <div class="content__title aboutme">
                <h1>Обо мне</h1>
            </div>
            <div class="about">
                <div class="about__text">
                    <p>
                        Привет! <br />
                        Меня зовут Настя и я снимаю про Жизнь. Творчество в каждой съемке.

                        Это значит, что мы живем в кадре, а не позируем, акцент делаем
                        на естественность, истинную красоту и настоящие эмоции,
                        не примеряя чьи-то образы.
                        Атмосфера съемок похожа
                        на душевную дружескую встречу,
                        я стараюсь найти подход к каждому и сделать всё,
                        чтобы вас раскрепостить (даже если съемка у вас впервые в жизни),
                        и вы смогли чувствовать себя в кадре свободно. <br /> <br />

                    </p>
                    <ul>Кого я снимаю:

                        <li> • любящие семьи, по-особенному люблю домашние истории - они всегда необыкновенно уютные!
                        </li>
                        <li> • истории любви и небольшие камерные свадьбы</li>
                        <li> • девушек, которые на кадрах хотят видеть в первую очередь себя, а не пышные образы</li>
                        <li> • экспертов, которые хотят профессионально вести свой блог и раскрыться и привлечь новую
                            аудиторию через визуал
                            Я хочу, чтобы вы получили самые приятные впечатления от процесса съемки и даже не заметили,
                            как за приятными разговорами и дружеской атмосферой, она уже прошла и получились красивые
                            качественные кадры!</li>

                    </ul>
                    <p><br />Если вы разделяете мои взгляды, то у нас точно получится волшебство!
                        А более подробно с моими работами и мной вы можете ознакомиться на моих страничках:
                    </p>
                </div>
                <div class="about__photo">
                    <img src="assets/img/about.jpg" alt="">
                </div>

            </div>
        </div>
    </div>
</body>

</html>