<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <header class="header">
    </header>
    <div class="main">
        <nav class="nav">
            <img src="assets/img/logo.png" class="logo" alt="">
            <ul>
                <li class="nav__item"><a href="index.html" class="nav__link">Главная</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Обо мне</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Портрет</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Love story</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Интерьер</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Content</a></li>
                <li class="nav__item"><a href="#" class="nav__link">LifeStyle</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
            </ul>
        </nav>
        <div class="content">
            <div class="content__title">
                <h1 class="contactme">Найди меня</h1>
            </div>
            <div class="about">
                <div class="about__text">
                   
                    <ul class="middle">

                        <li> <a href="#"> <img src="assets/img/inst.svg" alt=""></a>         </li>
                        <li> <a href="#"> <img src="assets/img/tg.svg" alt=""></a>         </li>
                        <li> <a href="#"> <img src="assets/img/wa.svg" alt=""></a>         </li>
                      

                    </ul>
                    
                </div>
                <div class="about__photo">
                    <img src="assets/img/contact.png" alt="">
                </div>

            </div>
        </div>
    </div>
</body>

</html>