<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>
    <div class="main">
        <div class="block">
            <div class="middle">
                <p class="text">Middle</p>
            </div>
        </div>

        <div class="block-2">
            <div class="middle-2">
                <p class="text">Middle</p>
            </div>
        </div>

        <div class="block-3">
            <div class="middle-3">
                <p class="text">Middle</p>
            </div>
        </div>

        <div class="block-4">
            <div class="middle-4">
                <p class="text">Middle</p>
            </div>
        </div>

        <div class="block-5">
            <div class="middle-5">
                <p class="text">Middle</p>
            </div>
        </div>
    </div>
</body>

</html>