<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
</head>

<body>

    <div class="container">
        <div class="title">
            <h1>Statement Summary</h1>
        </div>
        <div class="table-fix">
            <div class="acc">
                <p>account</p>
            </div>
            <div class="date">
                <p>DUE date</p>
            </div>
            <div class="amount">
                <p>AMOUNT</p>
            </div>
            <div class="period">
                <p>period</p>
            </div>
        </div>
        <div class="table blue">
            <div class="acc">
                <p>Visa - 3412</p>
            </div>
            <div class="date">
                <p>04/06/2016</p>
            </div>
            <div class="amount">
                <p>$1.190</p>
            </div>
            <div class="period">
                <p>03/01/2016 - 03/31/2016</p>
            </div>
        </div>
        <div class="table baseColor">
            <div class="acc">
                <p>Visa - 6076</p>
            </div>
            <div class="date">
                <p>03/01/2016</p>
            </div>
            <div class="amount">
                <p>$2.443</p>
            </div>
            <div class="period">
                <p>03/01/2016 - 02/01/2016</p>
            </div>
        </div>
        <div class="table pink">
            <div class="acc">
                <p>Corporate AMEX</p>
            </div>
            <div class="date">
                <p>03/01/2016</p>
            </div>
            <div class="amount">
                <p>$1.181</p>
            </div>
            <div class="period">
                <p>03/01/2016 - 02/01/2016</p>
            </div>
        </div>
        <div class="table baseColor">
            <div class="acc">
                <p>Visa - 3412</p>
            </div>
            <div class="date">
                <p>02/01/2022</p>
            </div>
            <div class="amount">
                <p>$8420</p>
            </div>
            <div class="period">
                <p>01/01/2015 - 01/31/2016</p>
            </div>
        </div>
        <div class="table green">
            <div class="acc">
                <p>Visa - 3412</p>
            </div>
            <div class="date">
                <p>02/01/2022</p>
            </div>
            <div class="amount">
                <p>$8420</p>
            </div>
            <div class="period">
                <p>01/01/2015 - 01/31/2016</p>
            </div>
        </div>
        <div class="table baseColor">
            <div class="acc">
                <p>Visa - 3412</p>
            </div>
            <div class="date">
                <p>02/01/2022</p>
            </div>
            <div class="amount">
                <p>$8420</p>
            </div>
            <div class="period">
                <p>01/01/2015 - 01/31/2016</p>
            </div>
        </div>
        <div class="table yellow">
            <div class="acc">
                <p>Visa - 3412</p>
            </div>
            <div class="date">
                <p>02/01/2022</p>
            </div>
            <div class="amount">
                <p>$8420</p>
            </div>
            <div class="period">
                <p>01/01/2015 - 01/31/2016</p>
            </div>
        </div>
        <div class="table baseColor">
            <div class="acc">
                <p>Visa - 3412</p>
            </div>
            <div class="date">
                <p>02/01/2022</p>
            </div>
            <div class="amount">
                <p>$8420</p>
            </div>
            <div class="period">
                <p>01/01/2015 - 01/31/2016</p>
            </div>
        </div>
    </div>
<button id="btn" class="btn">Click</button>
</body>
<script src="assets/js/main.js"></script>
</html>